<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav " id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed active" href="{% url 'dashboard.index'%}">
                <i class="bi bi-grid"></i>
                <span>Abonnements utilisateur</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% comment %} <li class="nav-item">
            <!-- collapsed pour inverser l'icone -->
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Abonnements utilisateur</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <!-- chow dans le ul pour roule -->
            <ul id="icons-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Liste</span>
                    </a>
                </li>
                
            </ul>
        </li>End messages Nav {% endcomment %}
        <li class="nav-item">
            <a class="nav-link {% if current_url not in urlsA %} collapsed{% endif %}" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Abonnements</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse {% if  current_url in urlsA %}show{% endif %} " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'pack.list' %}" class="{% if current_url == '/dashboard/abonnement/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Liste</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="components-accordion.html">
                        <i class="bi bi-circle"></i><span>Accordion</span>
                    </a>
                </li> -->
            </ul>
        </li><!-- End Abonements Nav -->

        <li class="nav-item">
            <!-- manipulation des urls -->
            <a class="nav-link {% if current_url not in urls %} collapsed{% endif %}" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Ecoles</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse {% if  current_url in urls %}show{% endif %}" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'ecole.list' %}" class="{% if current_url == '/dashboard/ecoles/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Ecole</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'curcus.list' %}" class="{% if current_url == '/dashboard/curcus/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Curcus</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'niveau.list' %}" class="{% if current_url == '/dashboard/niveau/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Niveaux</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'filiere.list' %}" class="{% if current_url == '/dashboard/filiere/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Filieres</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'epreuve.list' %}" class="{% if current_url == '/dashboard/epreuve/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Epreuves</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Ecoles Nav -->

        <li class="nav-item">
            <a class="nav-link  {% if current_url not in urlsB %} collapsed{% endif %}"  data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Blogs</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse {% if  current_url in urlsB %}show{% endif %}" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'article.list' %}" class="{% if current_url == '/dashboard/blog/article/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Articles</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'category.list'%}"  class="{% if current_url == '/dashboard/blog/categorie/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Categories</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Blog Nav -->

        <li class="nav-item">
            <a class="nav-link {% if current_url not in urlsC %} collapsed{% endif %}" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Cours/Message</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse {% if  current_url in urlsC %}show{% endif %}" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'cours.list' %}" class="{% if current_url == '/dashboard/cours/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Cours</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'message.list' %}" class="{% if current_url == '/dashboard/messages/' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Messages</span>
                    </a>
                </li>
            </ul>
        </li><!-- End cours Nav -->
          
       

        <li class="nav-heading">Pages</li>
        <li class="nav-item">
            <a class="nav-link collapsed active" href="{% url 'user.list' %}">
                <i class="bi bi-people"></i>
                <span>Utilisateurs</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'front.index' %}">
                <i class="bi bi-house-door"></i>
                <span>Accueil</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed text-danger" href="{% url 'auth.logout' %}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Deconnexion</span>
            </a>
        </li><!-- End Login Page Nav -->

    </ul>

</aside><!-- End Sidebar-->