{% extends '../../../app.html' %}

{% block title %}
ajouter un article
{% endblock %}

{% block content %}
{% load static %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item">Blog</li>
                <li class="breadcrumb-item">Article</li>
                <li class="breadcrumb-item active">Ajouter un article</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="user">Nom utilisateur : </label>
                    {{form.user}}
                    <br>
                    <label for="category">Libelle de la categorie :</label>
                    {{form.category}}
                    <label for="titre">Titre</label>
                    {{form.titre}}
                    {% if form.titre.errors %}
                    <ul class="errorlist">
                        {% for error in form.titre.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <label for="description">Description</label>
                    {{form.description}}
                    <div class="col-md-12 mt-2 border">
                    <label for="image">Image:</label>
                    {{form.image}}
                    </div>
                    <div class="col-md-12 mt-2 border"></div>
                    <label for="file">Fichier:</label>
                    {{form.file}}
                    </div>
                    
                    <button class="btn btn-primary form-control mt-2 mb-2">Enregistrer</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}