{% extends '../../app.html' %}

{% block title %}
modifier
{% endblock %}

{% block content %}
{% load static %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item">Blog</li>
                <li class="breadcrumb-item">Categorie</li>
                <li class="breadcrumb-item active">modifier {{object}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn btn-primary form-control mt-2 mb-2">Mettre a jour</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}