{% extends 'appf.html' %}

{% block 'title' %}
Accueil
{% endblock %}


{% block content %}
{% load static %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">AMÉLIORE TES
                    <span class="text-primary"> CONNAISSANCES </span>ET <span class="text-primary"> RÉUSSIS
                        TON CONCOURS !!!</span>
                </h1>
                <p>parce que toi aussi tu mérites d’atteindre tes objectifs nous
                    mettons à ta disposition Tout le nécessaire pour apprendre
                    efficacement et Intergre un cursus Académique D’ÉLITE grâce
                    a notre SUIVI! ainsi être la voie par excellence!!</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'abonnement.index' %}">S'abonner</a>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="{% static 'front/img/banner2.png'%}" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="{% static 'front/img/banner1.png'%}"
                        alt="" style="margin-top: -25%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
            <h1>ELITECORP VOUS OFFRE</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5 text-center">
                    <div class="d-inline-flex align-items-center  justify-content-center bg-white rounded-circle mb-4"
                        style="width: 65px; height: 65px;">
                        <i class="fa fa-graduation-cap text-primary fs-4"></i>
                    </div>
                    <h5 class="borber mb-3 text-center">PRÉPARATION INTENSIVE</h5>
                    <h6>par nos <span class="text-primary"> ÉQUIPES</span> </h6>
                    <p class="mb-4">Groupes WhatsApp de préparation intensive aux CONCOURS avec nos enseignants et
                        les autres élèves et étudiant(e)s de votre niveau en nombre limité !</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5 text-center">
                    <div class="d-inline-flex align-items-center  justify-content-center bg-white rounded-circle mb-4"
                        style="width: 65px; height: 65px;">
                        <i class="fa fa-file-pdf text-primary fs-4"></i>
                    </div>
                    <h5 class="borber mb-3 text-center">ÉPREUVES ET CORRIGES</h5>
                    <h6>des <span class="text-primary">ÉCOLES & FACULTÉS</span></h6>
                    <p class="mb-4">
                        ÉPREUVES des différents établissements du pays avec les CORRECTIONS des anciens sujets du
                        CONCOURS.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5 text-center">
                    <div class="d-inline-flex align-items-center  justify-content-center bg-white rounded-circle mb-4"
                        style="width: 65px; height: 65px;">
                        <i class="fa fas fa-file-video text-primary fs-4"></i>
                    </div>
                    <h5 class="borber mb-3 text-center">COURS DÉTAILLÉS</h5>
                    <h6>en <span class="text-primary">PDF et VIDEOS</span></h6>
                    <p class="mb-4">
                        ÉPREUVES des différents établissements du pays avec les CORRECTIONS des anciens sujets du
                        CONCOURS.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container bg-light rounded">
        <div class="row g-5">
            <div class="col-md-12 text-center">
                <h1>Qu'attends-tu pour rejoindre les autres ?</h1>
                <h4>rejoins sans plus tarde les autres élèves et étudiant(e)s du pays</h4>
                <h6 class="text-center">
                    ton <b>NOM</b> en <b>NOIR sur la liste</b>, <span class="text-primary"><b>NOTRE MISSION</b></span>!
                    Nous t’accompagnons dans cette mission !
                </h6>
                <h6><a href="{% url 'abonnement.index' %}" class="btn btn-warning mb-3">Je m'abonne maintenant</a></h6>
            </div>
        </div>

    </div>
</div>
<!-- Appointment End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Témoignages</p>
            <h1>Ce qui nos etudiants disent !</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4"
                    src="{% static 'front/img/testimonial-1.jpg'%}" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna
                        ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea
                        clita.</p>
                    <h5 class="mb-1">Patient Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4"
                    src="{% static 'front/img/testimonial-2.jpg'%}" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna
                        ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea
                        clita.</p>
                    <h5 class="mb-1">Patient Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4"
                    src="{% static 'front/img/testimonial-3.jpg'%}" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna
                        ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea
                        clita.</p>
                    <h5 class="mb-1">Patient Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Blog</p>
            <h1>Nos actualités</h1>
        </div>
        {% comment %} <div class="row g-4"> {% endcomment %}
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for article in articles %}

                <div class="col">
                    <div class="card h-100 wow fadeInUp" data-wow-delay="0.1s">
                        <img src="{{ article.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{article.titre}}</h5>
                            <p class="card-text">{{article.description|truncatewords:10}}</p>
                            <p class="card-text">Publié il y’ à {{article.created_at|timesince}}</p>
                        </div>
                        <div class="card-footer bg-light">
                            <a href="{% url 'article.detail' article.id %}" class="text-center">
                               <h6>Lire la suite</h6> </a>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ article.image.url }}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>{{article.titre}}</h5>
                            <p class="">Lorem ipsum dolor sit amet consectetur </p>
                            <div class="team-social text-center">
                                <a class="btn btn-warning" href="{% url 'ale.detail' %}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% empty %}
                      
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    <!-- Team End -->
    {% endblock %}